---
import Flex from "@components/Tools/Flex.astro";
import Link from "@components/ui/Link.astro";
import { Icon } from 'astro-icon/components';
import { getRelativeLocaleUrl } from "@lib/i18n/locale-url";
import Avatar from '@components/ui/Avatar/Avatar.astro';

interface Props {
  publishedAt?: never;
  readingTime?: string | null;
  authors?: { name: string; slug: string; avatar?: string | null }[];
  lang: string;
  className?: string;
}

const { readingTime, authors = [], lang, className = "" } = Astro.props;
const currentLocale = Astro.currentLocale;
const translations = await import(`../../../../i18n/${currentLocale}.json`);
const t = translations.default;

---
<Flex
  alignItems="center"
  justifyContent="space-between"
>
  {/* TEMPS DE LECTURE */}
  {readingTime && (
    <Flex gap="sm">
      <span
        role="img"
        aria-label={t.blog.readingTime}
        class="inline-block"
      >
        <Icon name="openmoji:hourglass-not-done" width="20" height="20" />
      </span>
      {readingTime}
    </Flex>
  )}

  {/* AUTEURS */}
  {authors && authors.length > 0 && (
    <Flex justifyContent="flex-end" alignItems="center" gap="sm">
      {t.blog.by}

      {authors.map((author, index) => (
        <>
          {index > 0 && <span>, </span>}
          <Link
            href={getRelativeLocaleUrl(lang, `blog/auteur/${author.slug}`)}
            className="author-link"
            style="link"
            transition:name="author"
            aria-label={`${author.name} (${t.blog.author})`}
          >
            <span style="display:inline-flex;align-items:center;gap:0.5em">
              <Avatar src={author.avatar ?? undefined} fallback={author.name} size="sm" direction="row" />
              {author.name}
            </span>
          </Link>
        </>
      ))}
    </Flex>
  )}
</Flex>