---
import Grid from "@components/Tools/Grid.astro";
import Flex from "@components/Tools/Flex.astro";
import CategoryBadge from "../ui/CategoryBadge.astro";
import PostMeta from "../ui/PostMeta.astro";

import Avatar from '@components/ui/Avatar/Avatar.astro';
import AvatarGroup from '@components/ui/Avatar/AvatarGroup.astro';
import ImageWithFallback from "@components/modules/blog/ui/ImageWithFallback.astro";

interface Props {
  post: any;
  lang: string;
}

const { post, lang } = Astro.props;

function getInitials(name: string) {
  if (!name) return '?';
  return name.split(' ').map(w => w[0]).join('').toUpperCase().slice(0, 2);
}
---

<Grid tag="div" align="center" textAlign="center" gap="lg">
  {/* Catégories */}
    {post.data.categories.map((c: any) => (
      <CategoryBadge name={c.name} slug={c.slug} lang={lang} />
    ))}

  {/* Titre H1 */}
  <h1>
    {post.data.title}
  </h1>

  {/* Méta + Auteurs */}
  <Flex justifyContent="center" alignItems="center" direction="column"> 
    {/* Groupe d'avatars */}
      {post.data.authors.map((a: any) => (
          <a href={`/${lang}/blog/auteur/${a.slug}`} title={a.name} class="author-link">
            <Avatar variant="retro" direction="column" size="lg" src={a.avatar_url} fallback={a.name}  />
          </a>
      ))}

    {/* Texte infos */}
    <div class="author-info">
        {post.data.authors.map((a: any) => a.name).join(", ")}
        <PostMeta publishedAt={post.data.publishedAt} readingTime={post.data.readingTime} lang={lang} />
    </div>
  </Flex>

  {/* Cover Image */}
  <figure class="post-cover">
      <ImageWithFallback 
        src={post.data.cover?.url}
        text={post.data.title}
        alt={post.data.cover?.alt}
        class="cover-img"
      />
  </figure> 
</Grid>